@page  "/CadastrarTicket"
@using Newtonsoft.Json;
@using BaseBlazorAdmin.Data;
@inject HttpClient http
@inject IJSRuntime js

<center>
    <div style="max-width:95%; align-content:center">
                   <DataAnnotationsValidator />
            <ValidationSummary />

            <MudCard>
                <MudCardHeader>Ticket</MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true">
                        Enviar Ticket Para Novo Cliente
                    </MudText>


                    <MudGrid>
                        <MudItem xs="8">
                            <MudTextField T="string" Label="Nome completo" Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudDatePicker Label="Data Validade" @bind-Date="date" HelperText="Data maxima de envio do Cadastro" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                    </MudGrid>
                    <MudGrid>
                        <MudItem xs="6">
                            <MudTextField T="string" Label="Telefone" Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField T="string" Label="E-Mail" Variant="Variant.Outlined" />
                        </MudItem>
                    </MudGrid>

                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary">Enviar</MudButton>
                </MudCardActions>
            </MudCard>

       
    </div>
</center>





@code{

    //Data Picker - DT Validade -------
    @code {
        MudDatePicker _picker;
        DateTime? date = DateTime.Today;
        private bool autoClose;
        private bool readOnly;
    }

    // FIM Data Picker - DT Validade -------
}